.imgArea {
	grid-area: imageArea;
}

.heroMimg {
	width: 100%;
}

.heroDimg {
	display: none;
}

@media (min-width: 1024px) {
	.heroDimg {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.heroMimg {
		display: none;
	}
}
